.gitignore
HELP.md

target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/*

### Personal Token Information
rag/src/main/resources/nsf-sar.2025-06-24.private-key.pem
rag/src/main/resources/nsf-sar.2025-06-24.pkcs8.pem
.env

docker/docker-compose.yaml
rag/src/main/java/com/nsf/langchain/git/GitHubApiHello.java
docker/docker-compose.yaml
docker/Dockerfile.chroma
docker/Dockerfile.ollama
rag/src/main/java/com/nsf/langchain/git/token/GetToken.java
rag/.env